/.idea
/product-service/data
/.idea
.idea/misc.xml
.idea/modules.xml
/order-service/data
/.idea
order-service/.env
inventory-service/.env
/inventory-service/data
inventory-service/.env
/api-gateway/data
api-gateway/.env
